{% extends 'base.html.twig' %}

{% block title %}Leaves!{% endblock %}

{% block body %}

    <section class="content-header">
        <h1>Calendar</h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('home') }}">
                    <i class="fa fa-fw ti-home"></i> Dashboard
                </a>
            </li>
            <li class="active">
                Leave Category
            </li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content p-l-r-15">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="ti-layout-grid3"></i> Category List
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <a href="#" class="btn btn-success btn-block" data-toggle="modal"
                                   data-target="#form-modal"
                                   data-action="new">Create</a>
                            </div>

                        </div>
                        <div id="table-data" class="row table-responsive table table-striped table-bordered">
                        </div>

                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>

                            </div>
                            <div class="modal-body">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- row-->
        <!--rightside bar -->
        <div class="background-overlay"></div>
    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#table-data').bootstrapTable({
                method: 'get',
                url: Routing.generate('leave.category.fetch'),
                cache: false,
                striped: true,
                pagination: true,
                search: true,
                pageSize: 20,
                pageList: [20, 30, 40, 50],
                minimumCountColumns: 2,
                clickToSelect: true,
                columns: [{
                    field: 'id',
                    title: 'ID',
                    align: 'center',
                    visible: false
                },{
                    field: 'name',
                    title: 'Name',
                    align: 'left',
                },{
                    field: 'limitDays',
                    title: 'Limit Days',
                    align: 'center',
                },{
                    title: 'Actions',
                    formatter: 'TableActions',
                    align: 'center',
                }

                ],
                onLoadSuccess: function() {
                    $('.delete').on('click', function (e) {
                        e.preventDefault();
                        var id = $(this).data('record-id');
                        swal({
                            title: 'Are you sure?',
                            text: "You will not be able to recover this Category!",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#66cc99',
                            cancelButtonColor: '#ff6666',
                            confirmButtonText: 'Yes, delete it!',
                            cancelButtonText: 'No, cancel!',
                            confirmButtonClass: 'btn btn-success',
                            cancelButtonClass: 'btn btn-danger'
                        }).then(function () {
                            $.ajax({
                                type: 'post',
                                url: Routing.generate('leave.category.remove', {'id': id}),
                                success: function (data) {
                                    result = JSON.parse(data);
                                    if (result.status == 'success') {
                                        toastr[result.status](result.message);
                                        $('#table-data').bootstrapTable('refresh');
                                    } else {

                                    }
                                },
                                error: function (jqXHR, status, error) {

                                }
                            });

                            swal(
                                'Deleted!',
                                'Your category has been deleted.',
                                'success'
                            );

                        }, function (dismiss) {
                            // dismiss can be 'cancel', 'overlay',
                            // 'close', and 'timer'
                            if (dismiss === 'cancel') {
                                swal(
                                    'Cancelled',
                                    'Your category is safe :)',
                                    'error'
                                );
                            }
                        })
                    });

                },
            });
        });
        function TableActions (value, row, index) {
            return [
                '<a href="#" data-toggle="modal" data-target="#form-modal" data-record-id="'+row.id+'" data-action="edit">',
                '<i class="fa fa-fw ti-pencil text-primary actions_icon"></i>',
                '</a> ',
                '<a href="#" class="delete" data-record-id="'+row.id+'">',
                '<i class="fa fa-fw ti-close text-danger actions_icon" title="Delete Category"></i>',
                '</a>'
            ].join('');
        }
        $('#form-modal').on('shown.bs.modal', function (e) {
            var modal = $(this);
            //  var path_link = $(e.relatedTarget).data('path');
            var action = $(e.relatedTarget).data('action');
            switch (action) {
                case 'new':
                    var url = Routing.generate('leave.category.new');
                    break;
                case 'edit':
                    var id = $(e.relatedTarget).data('record-id');
                    var url = Routing.generate('leave.category.edit', {'id': id});
                    break;
                case 'delete':
                    break;
            }
            $.ajax(url, {
                success: function (data) {
                    modal.find('.modal-body').html(data);
                }
            });
        });

        $(document).on('submit', 'form', function (e) {
            // il est impératif de commencer avec cette méthode qui va empêcher le navigateur d'envoyer le formulaire lui-même
            e.preventDefault();
            $form = $(e.target);
            modal = $('#form-modal');
            var $submitButton = $form.find(':submit');
            $submitButton.html('<i class="fas fa-spinner fa-pulse"></i>');
            $submitButton.prop('disabled', true);
            // ajaxSubmit du plugin ajaxForm nécessaire pour l'upload de fichier
            $form.ajaxSubmit({
                type: 'post',
                success: function (data) {
                    result = JSON.parse(data);
                    if (result.status == 'success') {
                        modal.find('.modal-body').html(result.message);
                        toastr[result.status](result.message);

                        modal.modal('toggle');
                        $('#table-data').bootstrapTable('refresh');
                    } else {
                        modal.find('.modal-body').html(data);
                    }
                },
                error: function (jqXHR, status, error) {
                    $submitButton.html(button.data('label'));
                    $submitButton.prop('disabled', false);
                }
            });
        });

    </script>
{% endblock %}